/*comment lol*/
body{
  font-family: monospace;
  background-image: url("cat_study_app.png");
  background-size: cover;
}
#content{
  width: 100%;
  margin: 0 auto;
}
#to-do-list{
  float: left;
  background-color: rgba(52, 102, 32, 0.3);
  padding: 0px 25px 25px 25px;
  width: 250px;
  text-align: left;
  color: rgb(66, 52, 47);
}
.clear{
  clear: both;
}
#title{
  color: white;
  display: inline;
  width: 50px;
}
#title h1{
  text-align: center;
  margin: 0 auto;
  line-height: 100px;
}
#timer-wrapper{
  font-size: 25px;
  background-color: rgba(240, 206, 173, 0.5);
  padding: 5px;
  width: 200px;
  float: right;
  height: 40px;
  border-radius: 80px;
  margin: 25px;
  display: inline-block;
  line-height: 40px;
}
#timer{
  text-align: center;
  margin: 0 auto;
}
#nav-bar{
  background-color: rgba(66, 52, 47, 0.5);
  height: 100px;
  width: 100%;
}
#start-button{
  width: 150px;
  height: 40px;
  background-color: rgba(240, 206, 173, 0.5);
  border-radius: 80px;
  float: left;
  margin: 25px;
  padding: 5px;
  display: inline-block;
}
#start-button p {
  text-align: center;
}
/*.button1 { make round plus button
  background-color: #8c665a;
  border: none;
  color: #42342f;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  float: left;
  opacity: 0.5;
}
.button1:hover {
  background-color: #42342f;
  color: #8c665a;
}*/
.button2 { make sound buttons
  width: 100%;
  background-color: rgba(140, 102, 90, 0.5);
  border: none;
  color: rgba(66, 52, 47, 1.0);
  text-align: center;
  font-family: 'Courier New', monospace;
  line-height: 20px;
  font-size: 20px;
  padding: 20px 58px;
  display: inline-block;
  float: left;
}
.button2:hover {
  background-color: rgba(66, 52, 47, 0.5);
  color: rgba(140, 102, 90, 1.0);
}
h2{
  font-size: 20px;
}
li{
  font-size: 15px;
}
#footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.buttons{
  width: 100%;
  margin: 0px auto;
}
