/*comment lol*/
body{
  background-color: #edbba6;
  text-align: center;
  font-family: monospace;
}
#to-do-list{
  float: left;
  background-color: white;
  padding: 0px 25px 25px 25px;
  width: 250px;
  text-align: left;
}
.clear{
  clear: both;
}
#timer-wrapper{
  float:right;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  width: 200px;
}
#timer{
  text-align: center;
}
